HELP.md



target/
build/
out/
.gradle/
.lock
.bin/

!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/


.mvn/wrapper/maven-wrapper.jar
gradle/wrapper/gradle-wrapper.jar

*.env
*.env.local
*.env.*.local
.env
.env.local
config.json
*.pem
*.jks


### Spring Tool Suite (STS) & Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.code-workspace


# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
logs/

